.side-bar {
  // padding: 20px;
  background: #ffffff;
  &-logo {
    padding: 14px 30px;
  }
  .item-class {
    padding: 18px;
    margin: 18px;
    color: #000;
  }
  .exact-active-class {
    background: #e8e8e8;
    margin: 18px;
    padding: 18px;
    border-radius: 50px;
  }
}
.container,
.nav-bar {
  .stats-summary {
    border-radius: 10px;
  }
  .donate-btn {
    .q-btn__content {
      padding: 6px 30px;
      font-weight: 500;
      font-size: 15px;
      line-height: 14px;
      color: #020202;
    }
  }
}
.container {
  height: 100vh;
}
