@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Medium.woff2') format('woff2'),
    url('./fonts/Unbounded-Medium.woff') format('woff'),
    url('./fonts/Unbounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Light.woff2') format('woff2'),
    url('./fonts/Unbounded-Light.woff') format('woff'),
    url('./fonts/Unbounded-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Regular.woff2') format('woff2'),
    url('./fonts/Unbounded-Regular.woff') format('woff'),
    url('./fonts/Unbounded-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Bold.woff2') format('woff2'),
    url('./fonts/Unbounded-Bold.woff') format('woff'),
    url('./fonts/Unbounded-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded Blond';
  src: url('./fonts/Unbounded-Blond.woff2') format('woff2'),
    url('./fonts/Unbounded-Blond.woff') format('woff'),
    url('./fonts/Unbounded-Blond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Black.woff2') format('woff2'),
    url('./fonts/Unbounded-Black.woff') format('woff'),
    url('./fonts/Unbounded-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded Variable';
  src: url('./fonts/UnboundedVariable.woff2') format('woff2'),
    url('./fonts/UnboundedVariable.woff') format('woff'),
    url('./fonts/UnboundedVariable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded Variable';
  src: url('./fonts/UnboundedVariable_1.woff2') format('woff2'),
    url('./fonts/UnboundedVariable_1.woff') format('woff'),
    url('./fonts/UnboundedVariable_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Regular_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Regular_1.woff') format('woff'),
    url('./fonts/Unbounded-Regular_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Black_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Black_1.woff') format('woff'),
    url('./fonts/Unbounded-Black_1.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Medium_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Medium_1.woff') format('woff'),
    url('./fonts/Unbounded-Medium_1.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Light_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Light_1.woff') format('woff'),
    url('./fonts/Unbounded-Light_1.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded Blond';
  src: url('./fonts/Unbounded-Blond_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Blond_1.woff') format('woff'),
    url('./fonts/Unbounded-Blond_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./fonts/Unbounded-Bold_1.woff2') format('woff2'),
    url('./fonts/Unbounded-Bold_1.woff') format('woff'),
    url('./fonts/Unbounded-Bold_1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
